In [6]:
import pandas as pd
import numpy as np

In [ ]:
d = {'a': (1, 101), 'b': (2, 202), 'c': (3, 303)}
pd.DataFrame.from_dict(d, orient="index")
#df.to_csv("./CSV-Files/data.csv")

In [44]:
df = pd.read_csv("./CSV-Files/Portfolio.csv")
d = df.to_dict()

In [ ]:
df_tmp = df[['Produkt','Wert']]
liste = [df['Produkt'], df['Wert']]
float(liste[1][0].split(' ')[1])
df_tmp[['Produkt','Wert']]

In [ ]:
test = df.drop(index=0, inplace=False )
test

In [ ]:

liste.pop(liste.index(input()))

In [ ]:
for i in range(len(liste)):
    tmp = liste[i].split(' ')
    if tmp[0] == 'ISHARES':
        liste.append(liste[i])
    if tmp[0] == 'ODAX':
        liste.append(liste[i])
liste

In [ ]:

ind = 0
for item in df['Produkt']:
    tmp = item.split(' ')
    if tmp[0] == 'ISHARES':
        df.drop(index=ind, inplace=True)
    if tmp[0] == 'ODAX':
        df.drop(index=ind, inplace=True)
    ind += 1
df

In [ ]:
def remove_row():

In [ ]:
for i in range(10):
    print(df_tmp['Produkt'][i].split(' ')[0])

In [ ]:

for i in range(len(df_tmp['Produkt'])):
    df_tmp1 = df_tmp['Produkt'][i].split(' ')[0] == 'ISHARES'
    print(df_tmp1)

In [30]:
def remove_row():
    ind = 0
    for item in df['Produkt']:
        tmp = item.split(' ')
        if tmp[0] == 'ISHARES':
            df.drop(index=ind, inplace=True)
        if tmp[0] == 'ODAX':
            df.drop(index=ind, inplace=True)
        if tmp[0] == 'ISHR':
            df.drop(index=ind, inplace=True)
        if tmp[0] == 'ANN':
            df.drop(index=ind, inplace=True)
        if tmp[0] == 'AS1':
            df.drop(index=ind, inplace=True)
        if tmp[0] == 'GENERAL':
            df.drop(index=ind, inplace=True)
        if tmp[0] == 'VANGUARD':
            df.drop(index=ind, inplace=True)
        if tmp[0] == 'CASH':
            df.drop(index=ind, inplace=True)
        ind += 1

In [45]:
remove_list = ['ISHARES', 'ODAX', 'ISHR', 'VANGUARD']
ind = 0
for item in df['Produkt']:
    tmp = item.split(' ')
    if tmp[0] == remove_list[0]:
        df.drop(index=ind, inplace=True)
    if tmp[0] == remove_list[1]:
        df.drop(index=ind, inplace=True)
    ind += 1

In [46]:
df

,Produkt,Symbol/ISIN,Anzahl,Schlu√ükurs,Wert,Wert in EUR
0,CASH & CASH FUND & FTX CASH (EUR),NaN,NaN,NaN,EUR 31760.15,"31760,15"
1,2G ENERGY AG,DE000A0HL8N9,52.0,"23,10",EUR 1201.20,"1201,20"
2,ADESSO AG,DE000A0Z23Q5,10.0,"102,00",EUR 1020.00,"1020,00"
3,ALPHABET INC. - CLASS A,US02079K3059,20.0,"96,29",USD 1925.80,"1935,24"
4,ANN C50.00 16DEC22,DE000C6K9MB6,1.0,"0,01",EUR 1.00,"1,00"
5,ARTHUR J. GALLAGHER &,US3635761097,27.0,"188,58",USD 5091.66,"5116,61"
6,AS1 C30.00 16DEC22,FREN00676717,1.0,"0,01",EUR 1.00,"1,00"
7,AVANZA BANK HOLDING AB,SE0012454072,50.0,"224,10",SEK 11205.00,"1024,14"
8,BANK NOVA SCOTIA HALIF,CA0641491075,50.0,"48,64",USD 2432.00,"2443,92"
9,CARL ZEISS MEDITEC AG,DE0005313704,15.0,"119,55",EUR 1793.25,"1793,25"
10,CME GROUP INC. - CLASS,US12572Q1058,15.0,"174,75",USD 2621.25,"2634,09"
11,DERMAPHARM HOLDING SE,DE000A2GS5D8,50.0,"38,22",EUR 1911.00,"1911,00"
12,DEUTSCHE BOERSE AG,DE0005810055,20.0,"165,80",EUR 3316.00,"3316,00"
13,DIAGEO,GB0002374006,50.0,"3554,00",GBX 177700.00,"2070,92"
14,DINO POLSKA SA,PLDINPL00011,75.0,"302,20",PLN 22665.00,"4800,45"
15,DNB BANK,NO0010161896,130.0,"182,25",NOK 23692.50,"2305,28"
16,FIRST REPUBLIC BANK CO,US33616C1009,10.0,"120,29",USD 1202.90,"1208,79"
17,FLATEXDEGIRO AG,DE000FTG1111,100.0,"8,87",EUR 887.20,"887,20"
18,FORTINET INC. - COMMO,US34959E1091,50.0,"57,10",USD 2855.00,"2868,99"
19,GENERAL ELECT. 05/35 MTN,XS0229567440,3000.0,"98,10",EUR 2957.92,"2957,92"
20,HANNOVER RUECK SE,DE0008402215,20.0,"165,55",EUR 3311.00,"3311,00"
21,IMCD,NL0010801007,20.0,"132,25",EUR 2645.00,"2645,00"
22,INDUSTRIVARDEN A,SE0000190126,3.0,"251,00",SEK 753.00,"68,82"
26,ISHR JPM $ EMB,IE00B2NPKV68,100.0,"79,22",USD 7922.00,"7960,82"
27,KEYWORDS STUDIO,GB00BBQ38507,60.0,"2408,00",GBX 144480.00,"1683,77"
28,LINDE PLC,IE00BZ12WP82,15.0,"299,65",EUR 4494.75,"4494,75"
29,LVMH,FR0000121014,4.0,"649,30",EUR 2597.20,"2597,20"
30,MUTUIONLINE,IT0004195308,40.0,"22,94",EUR 917.60,"917,60"
34,PURE STORAGE INC. CLA,US74624M1027,60.0,"30,50",USD 1830.00,"1838,97"
35,RATIONAL AG,DE0007010803,5.0,"576,00",EUR 2880.00,"2880,00"
36,ROYAL BANK OF CANADA C,CA7800871021,50.0,"92,25",USD 4612.50,"4635,10"
37,SECUNET SECURITY NETWORKS AG,DE0007276503,6.0,"226,50",EUR 1359.00,"1359,00"
38,SESA,IT0004729759,15.0,"110,90",EUR 1663.50,"1663,50"
39,SHURGARD,LU1883301340,30.0,"44,55",EUR 1336.50,"1336,50"
40,SOLARIA,ES0165386014,75.0,"15,73",EUR 1179.75,"1179,75"
41,SWEETGREEN INC - CLASS A,US87043Q1085,50.0,"18,95",USD 947.50,"952,14"
42,TETRA TECH INC. - COM,US88162G1031,12.0,"141,03",USD 1692.36,"1700,65"
43,THERMO FISHER SCIENTIF,US8835561023,7.0,"503,84",USD 3526.88,"3544,16"
44,VANGUARD FTSE ALL-WORLD UCITS E...,IE00B3RBWM25,150.0,"96,51",EUR 14476.50,"14476,50"
45,VANGUARD FTSE EUR,IE00B945VV12,350.0,"31,72",EUR 11102.00,"11102,00"
46,VANGUARD S&P500,IE00B3XXRP09,100.0,"73,70",EUR 7370.50,"7370,50"
47,WASTE MANAGEMENT INC.,US94106L1098,25.0,"157,91",USD 3947.75,"3967,09"
48,WDP,BE0974349814,50.0,"26,34",EUR 1317.00,"1317,00"

In [51]:
etwas = 'Hallo.dsv'
etwas = etwas[:-4] + '1' + '.dsv'
etwas

'Hallo1.dsv'